<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img style="margin-left: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/H%26M-Logo.svg/1280px-H%26M-Logo.svg.png" height="40" width="60%" />
        </ng-template>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
        </div>
     
       
    </p-menubar>
   
</div>