<p-card styleClass="user-form" class="flex justify-content-center">
    <form [formGroup]="userForm" (ngSubmit)="checkUser()" novalidate>
      <div class="field">
        <label for="Email" class="block">Email</label>
        <input type="text" pInputText placeholder="Email" formControlName="email" />
        <small class="p-error block" *ngIf="
            userForm.get('email')?.invalid && userForm.get('email')?.dirty
          ">
          Check the email you entered</small>
      </div>
      <div class="field">
        <label for="lastName" class="block">Password</label>
        <p-password  placeholder="Password" formControlName="password"></p-password>
      </div>
  
      <button pButton type="submit" label="Submit" [disabled]="userForm.invalid"></button>
    </form>
  </p-card>