<header>
<div class="card ">
  <p-menubar class="m-2" [model]="items">
      <ng-template pTemplate="start">
          <h3>EcommerceSite</h3>
      </ng-template>
      <ng-template pTemplate="end">
          <input type="text" pInputText placeholder="Search" class="w-full" />
          
          <button>User</button>
          <button>Cart</button>
      </ng-template>
  </p-menubar>
</div>
</header>
<!--Searchbar-->
<section>
  <div class="w-full ml-2">
    <input type="text" pInputText placeholder="Search" class="w-30rem ml-2 " />
  </div>
  
</section>
<!--Cards section-->
<section>
  <div class="container grid ml-8 gap-5">
    <div *ngFor="let product of productList " >
    <p-card [style]="{'width': '20rem', 'margin-bottom': '2em'}" class="col-4 ">
        <ng-template pTemplate="header">
            <img alt="product.title" [src]="product.image" class="prod_image m-2">
            <h4 class="m-2">{{product.title | slice:0:30}}...</h4>
            <small class="m-2">{{product.category}}</small>
            <small class="">&#8377;{{product.price}}</small>
            <p class="m-2">{{product.description | slice:0:20}} <a href="">Read More</a></p>
            <p-button class="m-8" label="Add to cart" [raised]="true" severity="warning"></p-button>
        </ng-template>
    </p-card>
    </div>
  </div>

    
</section>


